<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>OnlineFoodDeliverySystem</display-name>
  <servlet>
    <servlet-name>one</servlet-name>
    <servlet-class>com.code.LRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>one</servlet-name>
    <url-pattern>/lreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>two</servlet-name>
    <servlet-class>com.code.FRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>two</servlet-name>
    <url-pattern>/freg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>three</servlet-name>
    <servlet-class>com.code.Calculate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>three</servlet-name>
    <url-pattern>/calc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>four</servlet-name>
    <servlet-class>com.code.LLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>four</servlet-name>
    <url-pattern>/llog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ninja</servlet-name>
    <servlet-class>com.code.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ninja</servlet-name>
    <url-pattern>/llogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>five</servlet-name>
    <servlet-class>com.code.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>five</servlet-name>
    <url-pattern>/alog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>six</servlet-name>
    <servlet-class>com.code.UserActivation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>six</servlet-name>
    <url-pattern>/uact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>seven</servlet-name>
    <servlet-class>com.code.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>seven</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eight</servlet-name>
    <servlet-class>com.code.UserAct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eight</servlet-name>
    <url-pattern>/useract</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>nine</servlet-name>
    <servlet-class>com.code.FacultyUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nine</servlet-name>
    <url-pattern>/fupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ten</servlet-name>
    <servlet-class>com.code.LevelUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ten</servlet-name>
    <url-pattern>/levelupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eleven</servlet-name>
    <servlet-class>com.code.LearnerQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eleven</servlet-name>
    <url-pattern>/learnerque</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>twelve</servlet-name>
    <servlet-class>com.code.QueryAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>twelve</servlet-name>
    <url-pattern>/queryans</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thirteen</servlet-name>
    <servlet-class>com.code.LearnerExamReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>thirteen</servlet-name>
    <url-pattern>/lernexamreport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fourteen</servlet-name>
    <servlet-class>com.code.QuestionPPRUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fourteen</servlet-name>
    <url-pattern>/qpupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sixteen</servlet-name>
    <servlet-class>com.code.GenerateQuePaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sixteen</servlet-name>
    <url-pattern>/gnrtqppr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>seventeen</servlet-name>
    <servlet-class>com.code.apti_GenerateQuepaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>seventeen</servlet-name>
    <url-pattern>/gnrtqppr1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fifteen1</servlet-name>
    <servlet-class>com.code.apti_ppr_upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fifteen1</servlet-name>
    <url-pattern>/qpupload1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fif2</servlet-name>
    <servlet-class>com.code.aLearnerExamReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fif2</servlet-name>
    <url-pattern>/testclass1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fif3</servlet-name>
    <servlet-class>com.code.vLearnerExamReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fif3</servlet-name>
    <url-pattern>/testclass2</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>